<<<<<<< HEAD
<div id="cp2" class="input-group colorpicker-component">
    <input type="text" value="#00AABB" class="form-control"/>
    <span class="input-group-addon"><i></i></span>
</div>
<script>
    $(function () {
        $('#cp2').colorpicker();
    });
</script>
=======
<div id="cp2" class="input-group colorpicker-component">
    <input type="text" value="#00AABB" class="form-control"/>
    <span class="input-group-addon"><i></i></span>
</div>
<script>
    $(function () {
        $('#cp2').colorpicker();
    });
</script>
>>>>>>> 5f91f3411245b1d3d2d998dbedeb8154265a24fb
