<<<<<<< HEAD
<div id="cp3" class="input-group colorpicker-component">
    <input type="text" value="#00AABB" class="form-control"/>
    <span class="input-group-addon"><i></i></span>
</div>
<script>
    $(function () {
        $('#cp3').colorpicker({
            color: '#AA3399',
            format: 'rgba'
        });
    });
</script>
=======
<div id="cp3" class="input-group colorpicker-component">
    <input type="text" value="#00AABB" class="form-control"/>
    <span class="input-group-addon"><i></i></span>
</div>
<script>
    $(function () {
        $('#cp3').colorpicker({
            color: '#AA3399',
            format: 'rgba'
        });
    });
</script>
>>>>>>> 5f91f3411245b1d3d2d998dbedeb8154265a24fb
