{% load staticfiles %}

{% block css %}  <!-- Datatables -->
    <link href="{% static "vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" %}"  rel="stylesheet">
    <link href="{% static "vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" %}"  rel="stylesheet">
    <link href="{% static "vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" %}"  rel="stylesheet">
    <link href="{% static "vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" %}"  rel="stylesheet">
    <link href="{% static "vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" %}"  rel="stylesheet">
{% endblock %}
 {% block content %}
  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form id="login">
              <h1>Login Form</h1>
              <div>
                <input type="text" class="form-control" placeholder="Username" name="Username" required/>
              </div>
              <div>
                <input type="password" class="form-control" placeholder="Password" name="Password" required />
              </div>
              <div>
                <button class="btn btn-default submit" onclick="Login()">Log in</button>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">New to site?
                  <a href="#signup" class="to_register"> Create Account </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <!-- <div>
                  <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                  <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                </div> -->
              </div>
            </form>
          </section>
        </div>

        <div id="register" class="animate form registration_form">
          <section class="login_content">
            <form id="signup">
              <h1>Create Account</h1>
              <div>
                <input type="email" class="form-control" placeholder="Shop_name" name="Shop_Name" required />
              </div>
              <div>
                <input type="text" class="form-control" placeholder="Username" name="Username" required/>
              </div>
              <div>
                <input type="email" class="form-control" placeholder="Email" name="Email" required />
              </div>
              <div>
                <input type="password" class="form-control" placeholder="Password" name="Password" required />
              </div>

              <div>
                <input type="email" class="form-control" placeholder="Timing" name="Timing" required />
              </div>
              <div>
                <input type="email" class="form-control" placeholder="Location" name="Location" required />
              </div>
              <div>
                <button class="btn btn-default submit" onclick="Signup">Submit</button>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Already a member ?
                  <a href="#signin" class="to_register"> Log in </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <!-- <div>
                  <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                  <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                </div> -->
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
    <script>
    function Login(){
        $.post( "url", data: $("#login").serialize(), function(data, status) {
          alert(status);
          
        });
      }

    function Signup(){
        $.post( "url", data: $("#signup").serialize(), function(data, status) {
          alert(status);
        });
      }

    </script>
  </body>
{% endblock %}

